In [1]:
print("Hello Gaurav!")

Hello Gaurav!

In [2]:
import pandas as pd

In [4]:
path = '../data/processed/food_atlas_data_20240704_191143.csv'
df = pd.read_csv(path)
df.head()

,FIPS,State,County,Diabetes_Percentage_2008,Diabetes_Percentage_2013,Obesity_Percentage_2012,Obesity_Percentage_2017,Recreation_Facilities_2011,Recreation_Facilities_2016,Recreation_Facilities_per_1000_2011,Recreation_Facilities_per_1000_2016,Recreation_Facilities_Percent_Change_2011_16,Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16
0,1001,AL,Autauga,11.4,13.0,33.0,36.3,4,6,0.072465,0.108542,50.000000,49.785629
1,1003,AL,Baldwin,9.8,10.4,33.0,36.3,16,21,0.085775,0.101200,31.250000,17.983256
2,1005,AL,Barbour,13.6,18.4,33.0,36.3,2,0,0.073123,0.000000,-100.000000,-100.000000
3,1007,AL,Bibb,11.1,14.8,33.0,36.3,0,1,0.000000,0.044183,NaN,NaN
4,1009,AL,Blount,11.4,14.1,33.0,36.3,3,4,0.052118,0.069490,33.333333,33.333333

In [14]:
df.shape

(3143, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 13 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   FIPS                                                       3143 non-null   int64
 1   State                                                      3143 non-null   object
 2   County                                                     3143 non-null   object
 3   Diabetes_Percentage_2008                                   3138 non-null   float64
 4   Diabetes_Percentage_2013                                   3142 non-null   float64
 5   Obesity_Percentage_2012                                    3143 non-null   float64
 6   Obesity_Percentage_2017                                    3143 non-null   float64
 7   Recreation_Facilities_2011                                 3143 non-null   int64
 8   Recreation_Facilities_2016                                 3143 non-null   int64
 9   Recreation_Facilities_per_1000_2011                        3143 non-null   float64
 10  Recreation_Facilities_per_1000_2016                        3143 non-null   float64
 11  Recreation_Facilities_Percent_Change_2011_16               3000 non-null   float64
 12  Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16  3000 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 319.3+ KB

In [8]:
df.isnull().sum()

FIPS                                                           0
State                                                          0
County                                                         0
Diabetes_Percentage_2008                                       5
Diabetes_Percentage_2013                                       1
Obesity_Percentage_2012                                        0
Obesity_Percentage_2017                                        0
Recreation_Facilities_2011                                     0
Recreation_Facilities_2016                                     0
Recreation_Facilities_per_1000_2011                            0
Recreation_Facilities_per_1000_2016                            0
Recreation_Facilities_Percent_Change_2011_16                 143
Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16    143
dtype: int64

In [12]:
df['County'].value_counts()

County
Washington      31
Franklin        26
Jefferson       26
Lincoln         24
Jackson         24
                ..
Charles          1
Cecil            1
Calvert          1
Anne Arundel     1
Weston           1
Name: count, Length: 1832, dtype: int64

In [16]:
df['State'].value_counts()

State
TX    254
GA    159
VA    134
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
OK     77
AR     75
WI     72
PA     67
AL     67
FL     67
SD     66
CO     64
LA     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
AK     29
UT     29
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
VT     14
MA     14
NH     10
CT      8
RI      5
HI      5
DE      3
DC      1
Name: count, dtype: int64

In [20]:
# Droping the fips,state and country column
df = df.drop(columns=['FIPS', 'State', 'County'],axis=1)
df

,Diabetes_Percentage_2008,Diabetes_Percentage_2013,Obesity_Percentage_2012,Obesity_Percentage_2017,Recreation_Facilities_2011,Recreation_Facilities_2016,Recreation_Facilities_per_1000_2011,Recreation_Facilities_per_1000_2016,Recreation_Facilities_Percent_Change_2011_16,Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16
0,11.4,13.0,33.0,36.3,4,6,0.072465,0.108542,50.000000,49.785629
1,9.8,10.4,33.0,36.3,16,21,0.085775,0.101200,31.250000,17.983256
2,13.6,18.4,33.0,36.3,2,0,0.073123,0.000000,-100.000000,-100.000000
3,11.1,14.8,33.0,36.3,0,1,0.000000,0.044183,NaN,NaN
4,11.4,14.1,33.0,36.3,3,4,0.052118,0.069490,33.333333,33.333333
...,...,...,...,...,...,...,...,...,...,...
3138,6.8,8.1,24.6,28.8,4,6,0.090882,0.135609,50.000000,49.213470
3139,4.1,4.8,24.6,28.8,9,13,0.419072,0.560828,44.444444,33.826095
3140,6.3,9.0,24.6,28.8,3,2,0.143548,0.096567,-33.333333,-32.728180
3141,10.5,12.0,24.6,28.8,1,1,0.118203,0.122130,0.000000,3.321935
3142,7.1,10.0,24.6,28.8,1,0,0.140036,0.000000,-100.000000,-100.000000

In [22]:
df.isnull().sum()

Diabetes_Percentage_2008                                       5
Diabetes_Percentage_2013                                       1
Obesity_Percentage_2012                                        0
Obesity_Percentage_2017                                        0
Recreation_Facilities_2011                                     0
Recreation_Facilities_2016                                     0
Recreation_Facilities_per_1000_2011                            0
Recreation_Facilities_per_1000_2016                            0
Recreation_Facilities_Percent_Change_2011_16                 143
Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16    143
dtype: int64

In [23]:
df = df.fillna(df.mean())

In [24]:
df.isnull().sum()

Diabetes_Percentage_2008                                     0
Diabetes_Percentage_2013                                     0
Obesity_Percentage_2012                                      0
Obesity_Percentage_2017                                      0
Recreation_Facilities_2011                                   0
Recreation_Facilities_2016                                   0
Recreation_Facilities_per_1000_2011                          0
Recreation_Facilities_per_1000_2016                          0
Recreation_Facilities_Percent_Change_2011_16                 0
Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16    0
dtype: int64

In [25]:
# Convert percentage strings to floats
percentage_columns = [
        'Diabetes_Percentage_2013', 'Obesity_Percentage_2017',
        'Obesity_Percentage_2012', 'Diabetes_Percentage_2008'
    ]
for col in percentage_columns:
    df[col] = df[col].astype(str).str.rstrip('%').astype('float') / 100.0

In [26]:
df

,Diabetes_Percentage_2008,Diabetes_Percentage_2013,Obesity_Percentage_2012,Obesity_Percentage_2017,Recreation_Facilities_2011,Recreation_Facilities_2016,Recreation_Facilities_per_1000_2011,Recreation_Facilities_per_1000_2016,Recreation_Facilities_Percent_Change_2011_16,Recreation_Facilities_Per_1000_Pop_Percent_Change_2011_16
0,0.114,0.130,0.330,0.363,4,6,0.072465,0.108542,50.000000,49.785629
1,0.098,0.104,0.330,0.363,16,21,0.085775,0.101200,31.250000,17.983256
2,0.136,0.184,0.330,0.363,2,0,0.073123,0.000000,-100.000000,-100.000000
3,0.111,0.148,0.330,0.363,0,1,0.000000,0.044183,1.030283,-0.095421
4,0.114,0.141,0.330,0.363,3,4,0.052118,0.069490,33.333333,33.333333
...,...,...,...,...,...,...,...,...,...,...
3138,0.068,0.081,0.246,0.288,4,6,0.090882,0.135609,50.000000,49.213470
3139,0.041,0.048,0.246,0.288,9,13,0.419072,0.560828,44.444444,33.826095
3140,0.063,0.090,0.246,0.288,3,2,0.143548,0.096567,-33.333333,-32.728180
3141,0.105,0.120,0.246,0.288,1,1,0.118203,0.122130,0.000000,3.321935
3142,0.071,0.100,0.246,0.288,1,0,0.140036,0.000000,-100.000000,-100.000000